.adhoc_table {
  margin: 2vh 2%;
  width: 96%;
}

.table_header {
  background-color: rgb(var(--ga-ink));
  color: rgb(var(--ga-cloud));
  text-align: center;
}

.adhoc_row {
  text-overflow: wrap;
}

.event {
  width: 10%;
}

.room,
.delete {
  width: 5%;
}

.date,
.start,
.end {
  width: 10%;
}

.delete_button {
  user-select: none;
  text-align: center;
  background-color: rgba(var(--ga-pumpkin), 0.2);
}

.delete_button:active {
  background-color: rgba(var(--ga-pumpkin), 0.8);
}
