.form_container {
  margin: 2vh 2%;
}

.details_container {
  display: grid;
  grid-template-columns: 10% 90%;
  margin: 2vh 0;
  row-gap: 2vh;
}

.dateroom_container {
  display: grid;
  grid-template-columns: 10% 40% 10% 40%;
  margin: 2vh 0;
  row-gap: 2vh;
}

.datetime_selector {
  width: 10rem;
}

.room_selector {
  width: 3rem;
}

.button {
  border: none;
  background-color: rgb(var(--ga-cobalt));
  color: rgb(var(--ga-cloud));
  border-radius: 10px;
  padding: 5px 10px;
  margin-right: 2vw;
}

.button:active {
  background-color: rgb(var(--ga-cream));
  color: rgb(var(--ga-ink));
  transition: 0.1s linear;
}
