.adhoc_row {
  display: grid;
  grid-template-columns: 10% 5% 10% 10% 10% 45% 10%;
}

.adhoc_row > div {
  border: 1px solid rgba(var(--ga-ink), 0.2);
  padding: 2vh;
}

.center_text {
  text-align: center;
}

.delete_button {
  cursor: pointer;
  user-select: none;
  text-align: center;
  background-color: rgba(var(--ga-pumpkin), 0.2);
}

.delete_button:active {
  background-color: rgba(var(--ga-pumpkin), 0.8);
}
