.adhoc_table {
  margin: 2vh 2%;
  width: 96%;
}

.header {
  display: grid;
  grid-template-columns: 35% 5% 10% 8% 8% 14% 10% 10%;
  background-color: rgb(var(--ga-ink));
  color: rgb(var(--ga-cloud));
  text-align: center;
}

.header > div {
  padding: 2vh 0;
}
