.form,
.buttons_container {
  user-select: none;
  margin: 2vh 2%;
}

.checkbox_container {
  margin: 2vh auto;
  display: flex;
  align-items: center;
}

.checkbox_main_label {
  width: 20%;
}

.checkbox {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(4, 25%);
  row-gap: 2vh;
}

.checkbox > label > input {
  margin: 0 10%;
}

.checkbox > label:hover {
  font-weight: bold;
}

.datetime_container {
  display: grid;
  grid-template-columns: repeat(2, 30%);
  column-gap: 10%;
}

.datetime_grid {
  display: grid;
  text-align: end;
  grid-template-columns: 30% 60%;
  row-gap: 20%;
}

.datetime_grid > label {
  margin-right: 10%;
}

.button {
  border: none;
  background-color: rgb(var(--ga-mist));
  border-radius: 10px;
  padding: 5px 10px;
  margin-right: 2vw;
}

.button:active {
  background-color: rgb(var(--ga-cream));
}
