td {
  border: 1px solid rgba(200, 200, 200, 0.6);
  padding: 1vh;
}

.link {
  text-decoration: underline;
  color: rgb(var(--ga-cobalt));
}

.alt_row {
  background-color: rgba(var(--ga-sky), 0.1);
}

.missing {
  background-color: rgba(var(--ga-crimson), 0.5);
}
