.course_table_border {
  border: 2px solid rgba(200, 200, 200, 1);
  border-radius: 5px;
  margin: 1vh 1%;
  width: 98%;
}

.course_table_border > table {
  width: 100%;
}

.table_header_row {
  font-weight: bold;
  padding: 20px;
  background-color: rgba(200, 200, 200, 0.2);
}

.cohort {
  width: 10%;
}

.type {
  width: 10%;
}

.date {
  width: 20%;
}

.start {
  width: 10%;
}

.days {
  width: 10%;
}

.room {
  width: 10%;
}
