.display_link {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 700;
  font-size: 50px;
  margin: 10px auto;
  padding: 10px 20px;
  background-color: rgb(var(--ga-sky));
  border-radius: 10px;
  transition: 0.2s linear;
  color: rgb(var(--ga-cloud));
}

.display_link:hover {
  background-color: rgba(var(--ga-clover), 0.8);
  transition: 0.2s linear;
}

.room_list {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 30%);
  justify-items: center;
  gap: 5%;
  margin: 5vh auto;
}
