.display_link {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 700;
  font-size: 4rem;
  margin: 10px auto;
  padding: 1rem 1.2rem;
  background-color: rgb(var(--ga-ink));
  border-radius: 1rem;
  transition: 0.2s linear;
  color: rgb(var(--ga-cloud));
}

.display_link:hover {
  background-color: rgba(var(--ga-cobalt));
  transition: 0.2s linear;
}

.room_list {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 30%);
  justify-items: center;
  gap: 5%;
  margin: 4vh auto;
}
