.row,
.alt_row {
  width: 90%;
  min-height: 70px;
  display: grid;
  grid-template-columns: 5.5% repeat(7, 13.5%);
}

.row > div,
.alt_row > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid rgba(var(--ga-ink), 0.2);
  padding: 0.2rem;
  text-align: center;
}

.row > div > div,
.alt_row > div > div {
  margin: 0.5rem auto;
  max-width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.alt_row {
  background-color: rgba(var(--ga-sky), 0.1);
}

.sunday {
  background-color: rgba(var(--ga-mist));
}

.alt_row .room {
  display: flex;
  justify-content: center;
  align-items: center;
}

.overload_text {
  color: rgb(var(--ga-crimson));
}
