.container {
  margin: 1vh 1%;
  max-height: 100vh;
}

.datepicker {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  margin: 1vh auto;
}

.datepicker > input {
  border: transparent;
  padding: 0 1rem;
}
