.background {
  background-color: black;
  height: 100%;
  width: 100%;
  color: white;
  display: flex;
  font-size: 50px;
  gap: 50px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.background > hr {
  min-width: 90vw;
}

.banner {
  max-width: 556px;
}
