.container {
  background-color: black;
  color: white;
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  padding: 0 10vh;
  align-items: center;
}

.container > h2 {
  font-family: "Barlow", sans-serif;
  font-size: 80px;
  font-weight: 600;
}

.container > hr {
  width: 80vw;
}

.banner {
  width: 556px;
}
