.container {
  background-color: black;
  color: white;
  display: flex;
  height: 100vh;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  padding: 0 10vh;
  align-items: center;
}

.container > h2 {
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  text-align: center;
}

.container > hr {
  width: 80vw;
}

.banner {
  width: 600px;
}

@media screen and (max-width: 800px) {
  .banner {
    width: 800px;
  }
}
