:root {
  --ga-crimson: 228, 31, 38;
  --ga-ink: 34, 34, 34;
  --ga-mist: 239, 239, 239;
  --ga-cream: 255, 248, 232;
  --ga-fog: 157, 157, 157;
  --ga-cloud: 255, 255, 255;
  --ga-cobalt: 55, 64, 181;
  --ga-sky: 61, 190, 212;
  --ga-clover: 1, 208, 104;
  --ga-dandelion: 255, 205, 52;
  --ga-blush: 248, 182, 198;
  --ga-pumpkin: 254, 108, 59;
}

* {
  box-sizing: border-box;
}

html {
  font-family: "Oxygen", sans-serif;
  /* font-family: "Barlow", sans-serif; */
  /* font-family: "Barlow Condensed", sans-serif; */
  /* font-family: "Barlow Semi Condensed", sans-serif; */
}

body {
  font-family: "Oxygen", sans-serif;
  margin: 0;
  background-color: rgb(var(--ga-cloud));
  color: black;
}

a {
  text-decoration: none;
  color: black;
}

.centered {
  margin: 3rem auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
